@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo a CVC</h1>
    <p>Para onde você gostaria de viajar hoje?</p>
    <br>
    <br>
    <br>
    <br>
    <h3>Faça seu cadastro para começarmos!</h3>
</div>
