@model Usuario
@{
    ViewData["Title"] = "Cadastro";
}

<style>
    body {
        background-image: url("https://cdls.org.br/wp-content/uploads/cdlce_base/2020/07/iStock-1223604108.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

</style>

<form method="POST" asp-action="Cadastro">

<p>
    <label asp-for="Nome">Informe seu Nome:</label>
    <input asp-for="Nome" required>
</p>

<p>
    <label asp-for="Login">Login:</label>
    <input asp-for="Login" required>
</p>

<p>
    <label asp-for="Senha">Informe sua Senha:</label>
    <input asp-for="Senha" required>
</p>

<p>
    <label asp-for="DataNascimento">Informe sua Data de Nascimento:</label>
    <input asp-for="DataNascimento" type="date">
</p>

<p>
    <input type="submit" value="Cadastrar">
</p>

</form>